{% extends 'management/admin/admin-base.html' %}{% load static %}{% block header %}Bedspace{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'bedspaces' %}">View Bedspaces</a></li>
	<li class="breadcrumb-item active">View Bedspace</li>
{% endblock %}
{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<!-- Profile Card -->
				<div class="card card-primary card-outline">
					<div class="card-body box-profile">

						<h3 class="profile-username text-center">Bed No. {{ bedspace.bed_number }}</h3>
						<br>


						<ul class="list-group list-group-unbordered mb-3">
							<li class="list-group-item">
								<b>Status</b> <a class="float-right">
									{% if bedspace.is_active and bedspace.is_available %}
										Active
									{% elif not bedspace.is_active and bedspace.is_available %}
										Inactive
									{% else %}
										Unavailable
									{% endif %}
								</a>
							</li>
						</ul>
						{% if bedspace.is_active %}
							<ul class="list-group list-group-unbordered mb-3">
								<p class="text-muted text-center">Current Owner</p>
								<li class="list-group-item">
									<b>Full Name</b> 
									{% if bedspace.is_active %}
										<a href="{% url 'user' bedspace.current_user.id %}" class="float-right">
											{{ bedspace.current_user.full_name }}
										</a>
									{% else %}
										<a class="float-right">
											None
										</a>
									{% endif %}
								</li>
								<li class="list-group-item">
									<b>Username</b> 
									{% if bedspace.is_active %}
										<a href="{% url 'user' bedspace.current_user.id %}" class="float-right">
											{{ bedspace.current_user.username }}
										</a>
									{% else %}
										<a class="float-right">
											None
										</a>
									{% endif %}
								</li>
							</ul>
						{% endif %}
						<div class="row no-print">
							<div class="col-12">
								<a href="{% url 'delete-bedspace' bedspace.bed_number %}"
									class="btn btn-default float-right">
									<i class="fas fa-trash"></i> Delete Bedspace</a>
								<a href="{% url 'edit-bedspace' bedspace.bed_number %}"
										class="btn btn-default float-right" style="margin-right: 1%;">
										<i class="fas fa-edit"></i> Edit Bedspace</a>
								{% if bedspace.is_active and bedspace.is_available %}
									<a href="{% url 'deactivate-bedspace' bedspace.bed_number %}"
										class="btn btn-default float-right" style="margin-right: 1%;">
										<i class="fas fa-times"></i> Deactivate Current User</a>
								{% elif not bedspace.is_active and bedspace.is_available %}
									<a href="{% url 'create-bedspacing' %}?bed_no={{bedspace.bed_number}}"
										class="btn btn-default float-right" style="margin-right: 1%;">
										<i class="fas fa-user"></i> Register New User</a>
								{% endif %}
							
							</div>
						</div>
					</div>
              <!-- /.card-body -->
            	</div>
				<!-- /.card -->
			</div>
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Current Owner's Unsettled Accounts</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body" style="overflow: auto;">
						<table class="table table-bordered table-hover datatable">
							<thead>
								<tr>
									<th>Account Name:</th>
									<th>Notes:</th>
									<th>Amount:</th>
									<th>Date:</th>
									<th>Actions:</th>
								</tr>
							</thead>
							<tbody>
								{% for account in unsettled_accounts %}
									<tr>
										<th>{{ account.name }}</th>
										<td>{{ account.notes }}</td>
										<td>{{ account.amount }}</td>
										<td>{{ account.date_added|date:'d/m/Y' }}</td>
										<td>
											<a href="{% url 'settle-account' account.id %}">Settle</a>, 
											<a href="{% url 'edit-account' account.id %}">Edit</a>, 
											<a href="{% url 'delete-account' account.id %}">Delete</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if bedspace.is_active %}
							<div class="row no-print">
								<div class="col-12">	
								<a href="{% url 'create-account' %}?user_id={{ bedspace.current_user.id }}"
										class="btn btn-default float-right">
										<i class="fas fa-money-bill"></i> Add Account</a>
								</div>
							</div>
						{% endif %}
					</div>
					<!-- /.card-body -->
				</div>
			</div>
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Current Owner's Registered Devices</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body" style="overflow: auto;">
						<table class="table table-bordered table-hover simple-datatable">
							<thead>
								<tr>
									<th>Device Name:</th>
									<th>Mac Address:</th>
									<th>Date Registered:</th>
									<th>Actions:</th>
								</tr>
							</thead>
							<tbody>
								{% for device in unit.current_user.devices.all %}
									<tr>
										<th>{{ device.name }}</th>
										<td>{{ device.mac_address }}</td>
										<td>{{ device.date_added|date:'d/m/Y' }}</td>
										<td>
											<a href="{% url 'delete-device' device.id %}">Remove</a>, 
											<a href="{% url 'edit-device' device.id %}">Edit</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if bedspace.is_active %}
							<div class="row no-print">
								<div class="col-12">	
								<a href="{% url 'create-device' %}?user_id={{ bedspace.current_user.id }}"
										class="btn btn-default float-right">
										<i class="fas fa-tablet-alt"></i>  Add Device</a>
								</div>
							</div>
						{% endif %}
					</div>
					<!-- /.card-body -->
				</div>
			</div>
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Past Bedspacers</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body" style="overflow: auto;">
						<table class="table table-bordered table-hover datatable">
							<thead>
								<tr>
									<th>Username:</th>
									<th>Full name:</th>
									<th>Date Activated:</th>
									<th>Date Deactivated:</th>
								</tr>
							</thead>
							<tbody>
								{% for bedspacing in inactive_bedspacings %}
									<tr>
										<th>
											<a href="{% url 'user' bedspacing.bedspacer.id%}">
												{{ bedspacing.bedspacer.username }}
											</a>
										</th>
										<td>{{ bedspacing.bedspacer.full_name }}</td>
										<td>{{ bedspacing.date_joined|date:'d/m/Y' }}</td>
										<td>{{ bedspacing.date_left|date:'d/m/Y' }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
			
			<!-- /.col -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- /.container-fluid -->
</section>
{% endblock %}
{% block scripts %}
	<!-- DataTables -->
	<script src="{% static 'management/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'management/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'management/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'management/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

	<script>
		$(function () {
			$(".datatable").DataTable({
			"responsive": true,
			"autoWidth": false,
			});
			$('.simple-datatable').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": false,
			"ordering": true,
			"info": true,
			"autoWidth": true,
			"responsive": true,
			});
		});

	</script>
{% endblock %}