{% extends 'management/admin/admin-base.html' %}
{% load static %}
{% block header %}Tenants and Bedspacers{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item active">View Tenants and Bedspacers</li>
{% endblock %}
{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Active Tenants and Bedspacers Table</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body" style="overflow: auto;">
						<table class="table table-bordered table-hover datatable">
							<thead>
								<tr>
									<th>Username</th>
									<th>Full Name</th>
									<th>Tenant</th>
									<th>Bedspacer</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									{% if user.is_tenant or user.is_bedspacer %}
									<tr>
										<th><a href="{% url 'user' user.id %}">{{ user.username }}</a></th>
										<th>{{ user.full_name }}</th>
										<td>{{ user.is_tenant }}</td>
										<td>{{ user.is_bedspacer }} </td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						
					</div>
					<!-- /.card-body -->
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Inactive Tenants and Bedspacers Table</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body" style="overflow: auto;">
						<table class="table table-bordered table-hover datatable">
							<thead>
								<tr>
									<th>Username</th>
									<th>Full Name</th>
									<th>Is Tenant</th>
									<th>Is Bedspacer</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									{% if not user.is_tenant and not user.is_bedspacer %}
									<tr>
										<th><a href="{% url 'user' user.id %}">{{ user.username }}</a></th>
										<th>{{ user.full_name }}</th>
										<td>{{ user.is_tenant }}</td>
										<td>{{ user.is_bedspacer }} </td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						
					</div>
					<!-- /.card-body -->
				</div>
				
			</div>
		</div>
	</div>
</section>
<!-- /.card -->
{% endblock %}

{% block scripts %}
	<!-- DataTables -->
	<script src="{% static 'management/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'management/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'management/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'management/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

	<script>
		$(function () {
			$(".datatable").DataTable({
			"responsive": true,
			"autoWidth": false,
			});
			$('.simple-datatable').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": false,
			"ordering": true,
			"info": true,
			"autoWidth": true,
			"responsive": true,
			});
		});

	</script>
{% endblock %}