{% extends 'management/admin/admin-base.html' %}{% load static %}{% block header %}User{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'users' %}">View Tenants and Bedspacers</a></li>
	<li class="breadcrumb-item active">View User</li>
{% endblock %}
{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<!-- Profile Card -->
				<div class="card card-primary card-outline">
					<div class="card-body box-profile">
						<div class="text-center">
							<img class="profile-user-img img-fluid img-circle" src="https://via.placeholder.com/350" alt="User profile picture">
						</div>

						<h3 class="profile-username text-center">{{ user.username }}</h3>

						<p class="text-muted text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

						<ul class="list-group list-group-unbordered mb-3">
						<li class="list-group-item">
							<b>Full Name</b> <a class="float-right">{{ user.full_name }}</a>
						</li>
						<li class="list-group-item">
							<b>Is Tenant</b> <a class="float-right">{{ user.is_tenant }}</a>
						</li>
						<li class="list-group-item">
							<b>Is bedspacer</b> <a class="float-right">{{ user.is_bedspacer }}</a>
						</li>
						<li class="list-group-item">
							<b>Contacts</b> <a class="float-right">{{ user.contacts }}</a>
						</li>
						</ul>
						<div class="row no-print">
							<div class="col-12">	
								<a href="{% url 'edit-user' user.id %}"
										class="btn btn-default float-right">
										<i class="fas fa-edit"></i> Edit User</a>
							</div>
						</div>
					</div>
					
              <!-- /.card-body -->
            	</div>
				
				<!-- /.card -->
			</div>
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Currently Owned Residences and Bedspaces</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body" style="overflow: auto;">
						<table class="table table-bordered table-hover simple-datatable">
							<thead>
								<tr>
									<th>Unit or Bedspace:</th>
									<th>Number or Name:</th>
									<th>Date Started:</th>

								</tr>
							</thead>
							<tbody>
								{% for residence in active_residences %}
									<tr>
										<th>Unit</th>
										<td>
											<a href="{% url 'unit' residence.unit.id %}">
												{{ residence.unit.name }}
											</a>
										</td>
										<td>{{ residence.date_joined|date:'d/m/Y' }}</td>
									</tr>
								{% endfor %}
								{% for bedspacing in active_bedspacings %}
									<tr>
										<th>Bedspace</th>
										<td>
											<a href="{% url 'bedspace' bedspacing.bedspace.bed_number %}">
												{{ bedspacing.bedspace.bed_number }}
											</a>
										</td>
										<td>{{ bedspacing.date_joined|date:'d/m/Y' }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Unsettled Accounts</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body" style="overflow: auto;">
						<table class="table table-bordered table-hover simple-datatable">
							<thead>
								<tr>
									<th>Account Name:</th>
									<th>Notes:</th>
									<th>Amount:</th>
									<th>Date:</th>
									<th>Actions:</th>
								</tr>
							</thead>
							<tbody>
								{% for account in unsettled_accounts %}
									<tr>
										<th>{{ account.name }}</th>
										<td>{{ account.notes }}</td>
										<td>{{ account.amount }}</td>
										<td>{{ account.date_added|date:'d/m/Y' }}</td>
										<td>
											<a href="{% url 'settle-account' account.id %}">Settle</a>, 
											<a href="{% url 'edit-account' account.id %}">Edit</a>, 
											<a href="{% url 'delete-account' account.id %}">Delete</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="row no-print">
							<div class="col-12">	
							<a href="{% url 'create-account' %}?user_id={{ user.id }}"
									class="btn btn-default float-right">
									<i class="fas fa-money-bill"></i> Add Account</a>
							</div>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Registered Devices</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body" style="overflow: auto;">
						<table class="table table-bordered table-hover simple-datatable">
							<thead>
								<tr>
									<th>Device Name:</th>
									<th>Mac Address:</th>
									<th>Date Registered:</th>
									<th>Actions:</th>
								</tr>
							</thead>
							<tbody>
								{% for device in registered_devices %}
									<tr>
										<th>{{ device.name }}</th>
										<td>{{ device.mac_address }}</td>
										<td>{{ device.date_added|date:'d/m/Y' }}</td>
										<td>
											<a href="{% url 'delete-device' device.id %}">Remove</a>, 
											<a href="{% url 'edit-device' device.id %}">Edit</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="row no-print">
							<div class="col-12">	
							<a href="#"
									class="btn btn-default float-right">
									<i class="fas fa-tablet-alt"></i>  Add Device</a>
							</div>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- /.container-fluid -->
</section>
{% endblock %}
{% block scripts %}
	<!-- DataTables -->
	<script src="{% static 'management/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'management/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'management/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'management/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

	<script>
	$(function () {
		$(".datatable").DataTable({
		"responsive": true,
		"autoWidth": false,
		});
		$('.simple-datatable').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": false,
		"ordering": true,
		"info": true,
		"autoWidth": true,
		"responsive": true,
		});
	});

	</script>
{% endblock %}